.to-do {
    display: flex;
    gap: 10px;
    font-size: 12px;
}

@media (max-width: 750px) {
    .to-do {
        flex-direction: column;
        align-items: center;
    }
}

.to-do__menu {
    width: 180px;
    height: 350;
    gap: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
}

@media (max-width: 750px) {
    .to-do__menu {
        width: 300px;
        position: relative;
        top: 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
    }
}


.to-do__button {
    width: 160px;
    height: 40px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    user-select: none;
    box-shadow: 0 0 6px 1px black;
    border-left: none;
    font-weight: 900;
    transition: 50ms linear;
    background-color: rgb(245, 245, 0);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 4px;
}


@media (max-width: 750px) {
    .to-do__button {
       width: 120px;
       height: 30px;
       font-size: 12px;
       padding-left: 6px;
       border-radius: 2px;
    }
}


.to-do__button_status_active {
    opacity: 1;
}

.to-do__button_status_active:hover {
    width: 180px;

}

@media (max-width: 750px) {
    .to-do__button_status_active:hover {
        transform: scale(1.1);
        width: 120px;
    }
}

.to-do__button_status_inactive {
    opacity: 0.2;
    transform: translateX(-50%);
    display: none;
}

.to-do__display {
    width: 440px;
    height: 420px;

    /* border: 4px solid rgb(100, 150, 150); */
    /* box-shadow: 0 0 10px black; */
}

@media (max-width: 750px) {
    .to-do__display {
        width: 320px;
    }
}

.to-do__window {
    width: 100%;
    height: 100%;
    padding: 4px;
    display: none;
    flex-direction: column;
    align-items: center;
    
}

.to-do__create-task {
    width: 400px;
    height: 120px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 40px auto;
    gap: 10px;
    box-sizing: content-box;
}


@media (max-width: 750px) {
    .to-do__create-task {
        width: 300px;
        height: 100px;
        grid-template-rows: 30px auto;
    }
}



.to-do__create-task-name {

    background: transparent;
    padding-left: 2px;
    font-size: 18px;
    background-color: rgb(245, 245, 0);
    box-shadow: 0 0 6px 2px black;
    border-radius: 4px;
}


@media (max-width: 750px) {
    .to-do__create-task-name {
        border-radius: 2px;
        font-size: 16px;
    }
}

.to-do__create-task-date {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: rgb(245, 245, 0);
    box-shadow: 0 0 6px 2px black;
    border-radius: 4px;
}

@media (max-width: 750px) {
    .to-do__create-task-date {
        border-radius: 2px;
        font-size: 10px;
    }
}

.to-do__create-task-description {
    
    grid-column-start: 1;
    grid-column-end: 3;
    resize: none;
    padding: 2px;
    font-size: 12px;
    background-color: rgb(200, 200, 100);
    box-shadow: 0 0 6px 2px black;
    border-radius: 4px;
}


@media (max-width: 750px) {
    .to-do__create-task-description {
        border-radius: 2px;
        font-size: 10px;
    }
}



.to-do__task {
    width: 400px;
    min-height: 120px;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 40px auto;
    gap: 10px;
    position: relative;
    
}

@media (max-width: 750px) {
    .to-do__task {
        width: 300px;
        height: 100px;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 30px auto;
    }
}

.to-do__task:hover .to-do__task-mark {
    transform: rotate(-4deg)
}

.to-do__task-date {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: rgb(245, 245, 0);
    box-shadow: 0 0 6px 2px black;
    border-radius: 4px;
}

@media (max-width: 750px) {
    .to-do__task-date {
        border-radius: 2px;
        font-size: 10px;
    }
}


.to-do__task-name {
    padding-left: 2px;
    display: flex;
    align-items: center;

    background: transparent;
    font-style: normal;

    background: transparent;
    padding-left: 2px;
    font-size: 18px;
    background-color: rgb(245, 245, 0);
    box-shadow: 0 0 6px 2px black;
    border-radius: 4px;
}


@media (max-width: 750px) {
    .to-do__task-name {
        border-radius: 2px;
        font-size: 16px;
    }
}


.to-do__task-description {
    
    grid-column-start: 1;
    grid-column-end: 3;
    resize: none;
    padding: 2px;
    font-size: 12px;
    background-color: rgb(200, 200, 100);
    box-shadow: 0 0 6px 2px black;
    border-radius: 4px;
}

@media (max-width: 750px) {
    .to-do__task-description {
        border-radius: 2px;
        font-size: 10px;
    }
}





.to-do__task-mark {
    width: 90px;
    height: 25px;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 30px;
    right: 20px;
    font-size: 13px;
    background-color: rgb(150, 250, 0);
    border-radius: 4px;
    transition: 100ms linear;

}

@media (max-width: 750px) {
    .to-do__task-mark {
        top: 25px;
        right: 10px;
        width: 70px;
        height: 20px;
        border-radius: 2px;
        font-size: 10px;
    }
}

.to-do__task-list {
    width: 100%;
    height: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    overflow-y: scroll;
    overflow-x: hidden;

}


.to-do__task-list::-webkit-scrollbar {
    width: 0px;
    
    border-left: 0px solid rgb(100, 150, 150);
}
.to-do__task-list::-webkit-scrollbar-thumb {
    background-color: rgb(100, 150, 150);
}

