@import url(_status/to-do__button_status_active.css);
@import url(_status/to-do__button_status_inactive.css);

.to-do__button {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    user-select: none;
}

